<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

    <script>
        function start() {
            gapi.load('auth2', function() {
                console.log('Starting')
            auth2 = gapi.auth2.init({
                client_id: '585572398026-tttoks92upamnq6co6drnocdlo88b51s.apps.googleusercontent.com',
                scope: 'profile email'
            });
            });
        }
        </script>
    </head>
    <body>
        
        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <button id="signinButton" class="btn btn-lg btn-primary btn-block">Sign in with Google</button>
        </div>
              
        <script>
            $('#signinButton').click(function() {
                auth2.grantOfflineAccess().then(signInCallback);
            });
        </script>
        <script>
            function signInCallback(authResult) {
                console.log('result')
                if (authResult['code']) {
            
                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');
            
                // Send the code to the server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    // Always include an `X-Requested-With` header in every AJAX request,
                    // to protect against CSRF attacks.
                    headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        window.location.href = "/category";
                    },
                    processData: false,
                    data: authResult['code']
                });
                } else {
                    console.log('error')
                }
            }
        </script>
    </body>
</html>
